<a href="https://colab.research.google.com/github/gytrishi/project/blob/main/MNL_by_Gaurav_Yash_Tiwari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/gytrishi/project.git

Cloning into 'project'...
remote: Enumerating objects: 10, done.
remote: Counting objects: 100% (10/10), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 10 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (10/10), done.

In [ ]:
!pip install biogeme

Collecting biogeme
  Downloading biogeme-3.2.8.tar.gz (1.5 MB)
     |████████████████████████████████| 1.5 MB 5.1 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from biogeme) (1.19.5)
Requirement already satisfied: cython in /usr/local/lib/python3.7/dist-packages (from biogeme) (0.29.24)
Collecting unidecode
  Downloading Unidecode-1.3.2-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 61.6 MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from biogeme) (1.4.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from biogeme) (1.1.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from biogeme) (4.62.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->biogeme) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->biogeme) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->biogeme) (1.15.0)
Building wheels for collected packages: biogeme
  Building wheel for biogeme (setup.py) ... done
  Created wheel for biogeme: filename=biogeme-3.2.8-cp37-cp37m-linux_x86_64.whl size=4030561 sha256=c8b58855b22290006682a5b1deea814914f95a963afae36c098d390606094b39
  Stored in directory: /root/.cache/pip/wheels/d4/52/61/de6c73d2bc17603c60e754e260bccb7d4da2503e97015ebd49
Successfully built biogeme
Installing collected packages: unidecode, biogeme
Successfully installed biogeme-3.2.8 unidecode-1.3.2

In [ ]:
#CODE PREPARED BY GAURAV YASH TIWARI
import pandas as pd
import biogeme.database as db
import biogeme.biogeme as bio
import biogeme.models as models
import biogeme.version as ver
from biogeme.expressions import Beta
url="https://raw.githubusercontent.com/gytrishi/project/main/MNL.csv"
df=pd.read_csv(url)
database=db.Database("testmodel",df)
globals().update(database.variables)

#directly access the names of variables in data file
#from headers import*

#list of parameters
ASC_DA = Beta('ASC_DA',0,None,None,0)
ASC_SR = Beta('ASC_SR',0,None,None,0)
ASC_TR= Beta('ASC_TR',0,None,None,1)
'''BETA_IVTT_DA = Beta('BETA_IVTT_DA',0,None,None,0)
BETA_IVTT_SR = Beta('BETA_IVTT_SR',0,None,None,1)
BETA_IVTT_TR= Beta('BETA_IVTT_TR',0,None,None,1)
BETA_OVTDS_DA = Beta('BETA_OVTDS_DA',0,None,None,0)
BETA_OVTDS_SR = Beta('BETA_OVTDS_SR',0,None,None,1)
BETA_OVTDS_TR= Beta('BETA_OVTDS_TR',0,None,None,1)
BETA_COST_DA = Beta('BETA_COST_DA',0,None,None,0)
BETA_COST_SR = Beta('BETA_COST_SR',0,None,None,1)
BETA_COST_TR= Beta('BETA_COST_TR',0,None,None,1)'''
BETA_IVTT = Beta('BETA_IVTT_DA',0,None,None,0)
BETA_OVTDS = Beta('BETA_OVTDS_DA',0,None,None,0)
BETA_COST = Beta('BETA_COST_DA',0,None,None,0)

#definition of utility function
'''
U1= ASC_DA+\
    BETA_IVTT_DA*IVTT_DA+\
    BETA_OVTDS_DA*OVTDS_DA+\
    BETA_COST_DA*COST_DA
U2= ASC_SR+\
    BETA_IVTT_SR*IVTT_SR+\
    BETA_OVTDS_SR*OVTDS_SR+\
    BETA_COST_SR*COST_SR
U3= ASC_TR+\
    BETA_IVTT_TR*IVTT_TR+\
    BETA_OVTDS_TR*OVTDS_TR+\
    BETA_COST_TR*COST_TR'''
U1= ASC_DA+\
    BETA_IVTT*IVTT_DA+\
    BETA_OVTDS*OVTDS_DA+\
    BETA_COST*COST_DA
U2= ASC_SR+\
    BETA_IVTT*IVTT_SR+\
    BETA_OVTDS*OVTDS_SR+\
    BETA_COST*COST_SR
U3= ASC_TR+\
    BETA_IVTT*IVTT_TR+\
    BETA_OVTDS*OVTDS_TR+\
    BETA_COST*COST_TR


#Associate the Utility with some numbers
U={1:U1,2:U2,3:U3}

#Availability of each alternative as described in the dataset
AV = {1:AV_DA,2:AV_SR,3:AV_TR}


#choice model is a logit model with availability conditions
logprob=models.loglogit(U,AV,CHOICE)

biogeme=bio.BIOGEME(database,logprob)
biogeme.modelName ='testmodel'
results=biogeme.estimate()
pandasresults=results.getEstimatedParameters()
pandasresults

                  Value   Std err  ...  Rob. t-test  Rob. p-value
ASC_DA        -1.258553  0.161665  ...    -7.380573  1.576517e-13
ASC_SR        -2.419363  0.151866  ...   -14.822267  0.000000e+00
BETA_COST_DA  -0.897690  0.068388  ...   -11.134351  0.000000e+00
BETA_IVTT_DA  -0.045216  0.007099  ...    -6.136375  8.442556e-10
BETA_OVTDS_DA -0.287791  0.036271  ...    -7.201051  5.975220e-13

[5 rows x 7 columns]

In [ ]:
df

      PersonID  UNO  SERO  Mode  Alt1_ch  ...  HIGHINC  AV_DA  AV_SR  AV_TR  CHOICE
0            1    1     0     1        1  ...        0      1      1      1       1
1            2    1     0     1        1  ...        0      1      1      1       1
2            3    1     0     1        1  ...        0      1      1      1       1
3            4    1     0     1        1  ...        0      1      1      1       1
4            5    1     0     3        0  ...        0      1      1      1       3
...        ...  ...   ...   ...      ...  ...      ...    ...    ...    ...     ...
1120      1121    1     0     3        0  ...        0      1      1      1       3
1121      1122    1     0     1        1  ...        0      1      1      1       1
1122      1123    1     0     2        0  ...        0      1      1      1       2
1123      1124    1     0     2        0  ...        0      1      1      1       2
1124      1125    1     0     1        1  ...        0      1      1      1       1

[1125 rows x 30 columns]