<a href="https://colab.research.google.com/github/gytrishi/project/blob/main/mtechprojectdata_6_entryformnl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

0+1+2 survey data code 4w

In [ ]:
url1="/content/surveyZero_one_twoFaceToFace_csvutf_4w.csv"
url2="/content/cardlist4wlc.csv"
url3="/content/mnldata4w.csv"
url4="/content/cardlist4wvc.csv"
import pandas as pd
import numpy as np
import math
d1=pd.read_csv(url1)
d2=pd.read_csv(url2)
d3=pd.read_csv(url3)
d4=pd.read_csv(url4)
#df_VC_modification
df_VC=d1.iloc[:,7:78]
header=[i for i in range(0,df_VC.shape[1])]
header
df_VC.columns=header
df_VC.columns
#df_LC_modification
df_LC=d1.iloc[:,93:271]
header=[i for i in range(0,df_LC.shape[1])]
header
df_LC.columns=header
df_LC.columns
#df_LV_modification
df_LV=d1.iloc[:,np.r_[78:93,271:285]]
header=[i for i in range(0,df_LV.shape[1])]
header
df_LV.columns=header
df_LV.columns
#df_SD_modification
df_SD=d1.iloc[:,285:302]
header=[i for i in range(0,df_SD.shape[1])]
header
df_SD.columns=header
df_SD.columns
cards_user_chose_orderwise_LC=[]
for i in range (2,(df_LC.shape[0])):
  no_of_cards=[] 
  for j in range (0,(df_LC.shape[1])):
    if pd.notna(df_LC.iloc[i,j]):
      temp= int(df_LC.columns[j])
      temp=temp/2
      a=math.floor(temp)
      no_of_cards.append(int(a)+1)
  cards_user_chose_orderwise_LC.append(list(set(no_of_cards)))
cards_user_chose_orderwise_VC=[]
for i in range (2,(df_VC.shape[0])):
  no_of_cards=[] 
  for j in range (0,(df_VC.shape[1])):
    if pd.notna(df_VC.iloc[i,j]):
      temp= int(df_VC.columns[j])
      a=math.floor(temp)
      no_of_cards.append(int(a)+1)
  cards_user_chose_orderwise_VC.append(list(set(no_of_cards)))
k=-1
s=0
S_No=[]
Person_Id=[]
for i in cards_user_chose_orderwise_LC:
  k+=1
  for j in cards_user_chose_orderwise_LC[k]:
    s+=1
    S_No.append(s)
    Person_Id.append(k+1)
d3['S.No.']=S_No
d3['Person_ID']=Person_Id
k=-1
s=0
for i in cards_user_chose_orderwise_LC:
  k+=1
  l=0
  for j in cards_user_chose_orderwise_LC[k]:
    s+=1
    d3.iloc[s-1,71:88] = df_SD.iloc[(k+2),0:]
    d3.iloc[s-1,26:55] = df_LV.iloc[(k+2),0:]
    d3.iloc[s-1,88] = d1.iloc[(k+2),1]
    d3.iloc[s-1,6:23] = d2.iloc[((cards_user_chose_orderwise_LC[k][l])-1),2:]
    d3.iloc[s-1,57:66] = d4.iloc[((cards_user_chose_orderwise_VC[k][l])-1),2:]
    l+=1
s=0
for i in range (2,(df_LC.shape[0])):
  j=0
  while j <= ((df_LC.shape[1])-1):
    if pd.notna(df_LC.iloc[i,j]):
      s=s+1
      if str(df_LC.iloc[i,j])=="Home":
        d3.iloc[(s-1),2] = 1
        if str(df_LC.iloc[i,j+1])=="Leisure":
          d3.iloc[(s-1),3] = 2
        elif str(df_LC.iloc[i,j+1])=="Workplace":
          d3.iloc[(s-1),4] = 2
        elif str(df_LC.iloc[i,j+1])=="Highway":
          d3.iloc[(s-1),5] = 2

      elif str(df_LC.iloc[i,j])=="Leisure":
        d3.iloc[(s-1),3] = 1
        if str(df_LC.iloc[i,j+1])=="Home":
          d3.iloc[(s-1),2] = 2
        elif str(df_LC.iloc[i,j+1])=="Workplace":
          d3.iloc[(s-1),4] = 2
        elif str(df_LC.iloc[i,j+1])=="Highway":
          d3.iloc[(s-1),5] = 2
        
      elif str(df_LC.iloc[i,j])=="Workplace":
        d3.iloc[(s-1),4] = 1
        if str(df_LC.iloc[i,j+1])=="Home":
          d3.iloc[(s-1),2] = 2
        elif str(df_LC.iloc[i,j+1])=="Leisure":
          d3.iloc[(s-1),3] = 2
        elif str(df_LC.iloc[i,j+1])=="Highway":
          d3.iloc[(s-1),5] = 2

      elif str(df_LC.iloc[i,j])=="Highway":
        d3.iloc[(s-1),5] = 1
        if str(df_LC.iloc[i,j+1])=="Home":
          d3.iloc[(s-1),2] = 2
        elif str(df_LC.iloc[i,j+1])=="Leisure":
          d3.iloc[(s-1),3] = 2
        elif str(df_LC.iloc[i,j+1])=="Workplace":
          d3.iloc[(s-1),4] = 2
      j+=2
    else:
      j=j+1
s=0
for i in range (2,(df_VC.shape[0])):
  j=0
  while j <= ((df_VC.shape[1])-1):
    if pd.notna(df_VC.iloc[i,j]):
      s=s+1
      if str(df_VC.iloc[i,j])=="Conventional 4-Wheeler":
        d3.iloc[(s-1),55] = 1
      elif str(df_VC.iloc[i,j])=="Electric 4-Wheeler":
        d3.iloc[(s-1),56] = 1
    j+=1
print(d3)
d3.to_csv("file1.csv")

      S.No.  Person_ID Alt1_Home Alt2_Leisure Alt3_Workplace Alt4_Highway  \
0         1          1         1          NaN              2          NaN
1         2          1         1          NaN              2          NaN
2         3          1         1          NaN              2          NaN
3         4          1         1          NaN              2          NaN
4         5          2         1          NaN              2          NaN
...     ...        ...       ...          ...            ...          ...
5551   5552       1388         1            2            NaN          NaN
5552   5553       1389         1          NaN            NaN            2
5553   5554       1389         1          NaN            NaN            2
5554   5555       1389       NaN            1              2          NaN
5555   5556       1389         1            2            NaN          NaN

     Leisure_Charging_Time Workplace_Charging_Time Highway_Charging_Time  \
0     45 minutes to 1 hour             8 - 9 hours  45 minutes to 1 hour
1              8 - 9 hours             8 - 9 hours           5 - 6 hours
2              5 - 6 hours             5 - 6 hours  45 minutes to 1 hour
3              5 - 6 hours    45 minutes to 1 hour           8 - 9 hours
4              5 - 6 hours    45 minutes to 1 hour  45 minutes to 1 hour
...                    ...                     ...                   ...
5551  45 minutes to 1 hour             8 - 9 hours           5 - 6 hours
5552           8 - 9 hours    45 minutes to 1 hour           8 - 9 hours
5553  45 minutes to 1 hour             5 - 6 hours           5 - 6 hours
5554  45 minutes to 1 hour    45 minutes to 1 hour  45 minutes to 1 hour
5555           5 - 6 hours             5 - 6 hours           5 - 6 hours

     Home_Charging_Cost  ...                         Vehicle_Ownership  \
0           Rs. 10/unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
1           Rs. 10/unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
2            Rs. 8/unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
3           Rs. 10/unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
4           Rs. 10/unit  ...                          Petrol 2-wheeler
...                 ...  ...                                       ...
5551         Rs. 8/unit  ...                          Petrol 2-wheeler
5552        Rs. 10/unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
5553         Rs. 8/unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
5554         Rs. 8/unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
5555         Rs. 8/unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler

     Vehicle_Ownership_Others Driving_Licence_2W Driving_Licence_4W  \
0                         NaN                  2                  2
1                         NaN                  2                  2
2                         NaN                  2                  2
3                         NaN                  2                  2
4                         NaN                  2                  2
...                       ...                ...                ...
5551                      NaN                  2                  2
5552                      NaN                  2                  2
5553                      NaN                  2                  2
5554                      NaN                  2                  2
5555                      NaN                  2                  2

       Daily_Distance          Long_Distance_300km Location(Postal)  \
0     Less than 10 km         Once or twice a year           560013
1     Less than 10 km         Once or twice a year           560013
2     Less than 10 km         Once or twice a year           560013
3     Less than 10 km         Once or twice a year           560013
4       20 km - 30 km  Once or twice in six months           560016
...               ...                          ...              ...
5551   50 km - 100 km        Once or twice a month         Lallbagh
5552    30 km - 50 km  Once or twice in six months    Kamakshipalya
5553    30 km - 50 km  Once or twice in six months    Kamakshipalya
5554    30 km - 50 km  Once or twice in six months    Kamakshipalya
5555    30 km - 50 km  Once or twice in six months    Kamakshipalya

                  Knowledge              Contact     Duration
0     Yes, I know something           9620328005  15.11666667
1     Yes, I know something           9620328005  15.11666667
2     Yes, I know something           9620328005  15.11666667
3     Yes, I know something           9620328005  15.11666667
4     Yes, I know something  deena2409@gmail.com        13.65
...                     ...                  ...          ...
5551  Yes, I know something                 ...   11.58333333
5552  Yes, I know something                 ...   14.81666667
5553  Yes, I know something                 ...   14.81666667
5554  Yes, I know something                 ...   14.81666667
5555  Yes, I know something                 ...   14.81666667

[5556 rows x 89 columns]

internet survey data code 4w

In [ ]:
url1="/content/surveyInternetcsv4w.csv"
url2="/content/cardlist4wlc.csv"
url3="/content/mnldata4w.csv"
url4="/content/cardlist4wvc.csv"
import pandas as pd
import numpy as np
import math
d1=pd.read_csv(url1)
d2=pd.read_csv(url2)
d3=pd.read_csv(url3)
d4=pd.read_csv(url4)
#df_VC_modification
df_VC=d1.iloc[:,7:78]
header=[i for i in range(0,df_VC.shape[1])]
header
df_VC.columns=header
df_VC.columns
#df_LC_modification
df_LC=d1.iloc[:,93:271]
header=[i for i in range(0,df_LC.shape[1])]
header
df_LC.columns=header
df_LC.columns
#df_LV_modification
df_LV=d1.iloc[:,np.r_[78:93,271:285]]
header=[i for i in range(0,df_LV.shape[1])]
header
df_LV.columns=header
df_LV.columns
#df_SD_modification
df_SD=d1.iloc[:,285:302]
header=[i for i in range(0,df_SD.shape[1])]
header
df_SD.columns=header
df_SD.columns
cards_user_chose_orderwise_LC=[]
for i in range (2,(df_LC.shape[0])):
  no_of_cards=[] 
  for j in range (0,(df_LC.shape[1])):
    if pd.notna(df_LC.iloc[i,j]):
      temp= int(df_LC.columns[j])
      temp=temp/2
      a=math.floor(temp)
      no_of_cards.append(int(a)+1)
  cards_user_chose_orderwise_LC.append(list(set(no_of_cards)))
cards_user_chose_orderwise_VC=[]
for i in range (2,(df_VC.shape[0])):
  no_of_cards=[] 
  for j in range (0,(df_VC.shape[1])):
    if pd.notna(df_VC.iloc[i,j]):
      temp= int(df_VC.columns[j])
      a=math.floor(temp)
      no_of_cards.append(int(a)+1)
  cards_user_chose_orderwise_VC.append(list(set(no_of_cards)))
k=-1
s=0
S_No=[]
Person_Id=[]
for i in cards_user_chose_orderwise_LC:
  k+=1
  for j in cards_user_chose_orderwise_LC[k]:
    s+=1
    S_No.append(s)
    Person_Id.append(k+1)
d3['S.No.']=S_No
d3['Person_ID']=Person_Id
k=-1
s=0
for i in cards_user_chose_orderwise_LC:
  k+=1
  l=0
  for j in cards_user_chose_orderwise_LC[k]:
    s+=1
    d3.iloc[s-1,71:88] = df_SD.iloc[(k+2),0:]
    d3.iloc[s-1,26:55] = df_LV.iloc[(k+2),0:]
    d3.iloc[s-1,88] = d1.iloc[(k+2),1]
    d3.iloc[s-1,6:23] = d2.iloc[((cards_user_chose_orderwise_LC[k][l])-1),2:]
    d3.iloc[s-1,57:66] = d4.iloc[((cards_user_chose_orderwise_VC[k][l])-1),2:]
    l+=1
s=0
for i in range (2,(df_LC.shape[0])):
  j=0
  while j <= ((df_LC.shape[1])-1):
    if pd.notna(df_LC.iloc[i,j]):
      s=s+1
      if str(df_LC.iloc[i,j])=="Home":
        d3.iloc[(s-1),2] = 1
        if str(df_LC.iloc[i,j+1])=="Leisure":
          d3.iloc[(s-1),3] = 2
        elif str(df_LC.iloc[i,j+1])=="Workplace":
          d3.iloc[(s-1),4] = 2
        elif str(df_LC.iloc[i,j+1])=="Highway":
          d3.iloc[(s-1),5] = 2

      elif str(df_LC.iloc[i,j])=="Leisure":
        d3.iloc[(s-1),3] = 1
        if str(df_LC.iloc[i,j+1])=="Home":
          d3.iloc[(s-1),2] = 2
        elif str(df_LC.iloc[i,j+1])=="Workplace":
          d3.iloc[(s-1),4] = 2
        elif str(df_LC.iloc[i,j+1])=="Highway":
          d3.iloc[(s-1),5] = 2
        
      elif str(df_LC.iloc[i,j])=="Workplace":
        d3.iloc[(s-1),4] = 1
        if str(df_LC.iloc[i,j+1])=="Home":
          d3.iloc[(s-1),2] = 2
        elif str(df_LC.iloc[i,j+1])=="Leisure":
          d3.iloc[(s-1),3] = 2
        elif str(df_LC.iloc[i,j+1])=="Highway":
          d3.iloc[(s-1),5] = 2

      elif str(df_LC.iloc[i,j])=="Highway":
        d3.iloc[(s-1),5] = 1
        if str(df_LC.iloc[i,j+1])=="Home":
          d3.iloc[(s-1),2] = 2
        elif str(df_LC.iloc[i,j+1])=="Leisure":
          d3.iloc[(s-1),3] = 2
        elif str(df_LC.iloc[i,j+1])=="Workplace":
          d3.iloc[(s-1),4] = 2
      j+=2
    else:
      j=j+1
s=0
for i in range (2,(df_VC.shape[0])):
  j=0
  while j <= ((df_VC.shape[1])-1):
    if pd.notna(df_VC.iloc[i,j]):
      s=s+1
      if str(df_VC.iloc[i,j])=="Conventional 4-Wheeler":
        d3.iloc[(s-1),55] = 1
      elif str(df_VC.iloc[i,j])=="Electric 4-Wheeler":
        d3.iloc[(s-1),56] = 1
    j+=1
print(d3)
d3.to_csv("file2.csv")

     S.No.  Person_ID Alt1_Home Alt2_Leisure Alt3_Workplace Alt4_Highway  \
0        1          1         1          NaN            NaN            2
1        2          1       NaN            2            NaN            1
2        3          1       NaN          NaN            NaN            1
3        4          1         1            2            NaN          NaN
4        5          2         1          NaN              2          NaN
..     ...        ...       ...          ...            ...          ...
135    136         34         1            2            NaN          NaN
136    137         35         1          NaN              2          NaN
137    138         35         1          NaN              2          NaN
138    139         35         1          NaN              2          NaN
139    140         35         1          NaN              2          NaN

    Leisure_Charging_Time Workplace_Charging_Time Highway_Charging_Time  \
0             8 - 9 hours             8 - 9 hours           8 - 9 hours
1             8 - 9 hours             5 - 6 hours           8 - 9 hours
2             8 - 9 hours    45 minutes to 1 hour  45 minutes to 1 hour
3    45 minutes to 1 hour    45 minutes to 1 hour  45 minutes to 1 hour
4             8 - 9 hours             8 - 9 hours           8 - 9 hours
..                    ...                     ...                   ...
135           5 - 6 hours    45 minutes to 1 hour           5 - 6 hours
136           8 - 9 hours             8 - 9 hours           8 - 9 hours
137           8 - 9 hours    45 minutes to 1 hour           8 - 9 hours
138  45 minutes to 1 hour    45 minutes to 1 hour           5 - 6 hours
139  45 minutes to 1 hour    45 minutes to 1 hour           8 - 9 hours

    Home_Charging_Cost  ...                         Vehicle_Ownership  \
0          Rs. 12/unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
1          Rs. 10/unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
2          Rs. 12/unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
3          Rs. 10/unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
4          Rs. 10/unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
..                 ...  ...                                       ...
135        Rs. 12/unit  ...                        Electric 4-wheeler
136        Rs. 10/unit  ...                          Petrol 2-wheeler
137        Rs. 10/unit  ...                          Petrol 2-wheeler
138        Rs. 12/unit  ...                          Petrol 2-wheeler
139         Rs. 8/unit  ...                          Petrol 2-wheeler

    Vehicle_Ownership_Others Driving_Licence_2W Driving_Licence_4W  \
0                        NaN                  4                  4
1                        NaN                  4                  4
2                        NaN                  4                  4
3                        NaN                  4                  4
4                        NaN                  4                  4
..                       ...                ...                ...
135                      NaN                  0                  1
136                      NaN                  3                  0
137                      NaN                  3                  0
138                      NaN                  3                  0
139                      NaN                  3                  0

    Daily_Distance    Long_Distance_300km      Location(Postal)  \
0    20 km - 30 km  Once or twice a month                560073
1    20 km - 30 km  Once or twice a month                560073
2    20 km - 30 km  Once or twice a month                560073
3    20 km - 30 km  Once or twice a month                560073
4    20 km - 30 km  Once or twice a month                673591
..             ...                    ...                   ...
135  10 km - 20 km  Once or twice a month                560090
136  10 km - 20 km   Once or twice a year  Adajan,Surat(395009)
137  10 km - 20 km   Once or twice a year  Adajan,Surat(395009)
138  10 km - 20 km   Once or twice a year  Adajan,Surat(395009)
139  10 km - 20 km   Once or twice a year  Adajan,Surat(395009)

                 Knowledge                Contact     Duration
0        Yes, I know a lot             8088888428        15.55
1        Yes, I know a lot             8088888428        15.55
2        Yes, I know a lot             8088888428        15.55
3        Yes, I know a lot             8088888428        15.55
4        Yes, I know a lot  emithramcsp@gmail.com  8.233333333
..                     ...                    ...          ...
135  Yes, I know something                    NaN  12.86666667
136      Yes, I know a lot                    NaN  16.73333333
137      Yes, I know a lot                    NaN  16.73333333
138      Yes, I know a lot                    NaN  16.73333333
139      Yes, I know a lot                    NaN  16.73333333

[140 rows x 89 columns]

0+1+2 survey data 2w

In [ ]:
url1="/content/surveyZero_one_twoFaceToFace_csvutf_2w.csv"
url2="/content/cardlist2wlc.csv"
url3="/content/mnldata2w.csv"
url4="/content/cardlist2wvc.csv"
import pandas as pd
import numpy as np
import math
d1=pd.read_csv(url1)
d2=pd.read_csv(url2)
d3=pd.read_csv(url3)
d4=pd.read_csv(url4)
#df_VC_modification
df_VC=d1.iloc[:,7:96]
header=[i for i in range(0,df_VC.shape[1])]
header
df_VC.columns=header
df_VC.columns
#df_LC_modification
df_LC=d1.iloc[:,111:255]
header=[i for i in range(0,df_LC.shape[1])]
header
df_LC.columns=header
df_LC.columns
#df_LV_modification
df_LV=d1.iloc[:,np.r_[96:111,255:269]]
header=[i for i in range(0,df_LV.shape[1])]
header
df_LV.columns=header
df_LV.columns
#df_SD_modification
df_SD=d1.iloc[:,269:286]
header=[i for i in range(0,df_SD.shape[1])]
header
df_SD.columns=header
df_SD.columns
cards_user_chose_orderwise_LC=[]
for i in range (2,(df_LC.shape[0])):
  no_of_cards=[] 
  for j in range (0,(df_LC.shape[1])):
    if pd.notna(df_LC.iloc[i,j]):
      temp= int(df_LC.columns[j])
      temp=temp/2
      a=math.floor(temp)
      no_of_cards.append(int(a)+1)
  cards_user_chose_orderwise_LC.append(list(set(no_of_cards)))
cards_user_chose_orderwise_VC=[]
for i in range (2,(df_VC.shape[0])):
  no_of_cards=[] 
  for j in range (0,(df_VC.shape[1])):
    if pd.notna(df_VC.iloc[i,j]):
      temp= int(df_VC.columns[j])
      a=math.floor(temp)
      no_of_cards.append(int(a)+1)
  cards_user_chose_orderwise_VC.append(list(set(no_of_cards)))
k=-1
s=0
S_No=[]
Person_Id=[]
for i in cards_user_chose_orderwise_LC:
  k+=1
  for j in cards_user_chose_orderwise_LC[k]:
    s+=1
    S_No.append(s)
    Person_Id.append(k+1)
d3['S.No.']=S_No
d3['Person_ID']=Person_Id
k=-1
s=0
for i in cards_user_chose_orderwise_LC:
  k+=1
  l=0
  for j in cards_user_chose_orderwise_LC[k]:
    s+=1
    d3.iloc[s-1,71:88] = df_SD.iloc[(k+2),0:]
    d3.iloc[s-1,26:55] = df_LV.iloc[(k+2),0:]
    d3.iloc[s-1,88] = d1.iloc[(k+2),1]
    d3.iloc[s-1,6:23] = d2.iloc[((cards_user_chose_orderwise_LC[k][l])-1),2:]
    d3.iloc[s-1,57:66] = d4.iloc[((cards_user_chose_orderwise_VC[k][l])-1),2:]
    l+=1
s=0
for i in range (2,(df_LC.shape[0])):
  j=0
  while j <= ((df_LC.shape[1])-1):
    if pd.notna(df_LC.iloc[i,j]):
      s=s+1
      if str(df_LC.iloc[i,j])=="Home":
        d3.iloc[(s-1),2] = 1
        if str(df_LC.iloc[i,j+1])=="Leisure":
          d3.iloc[(s-1),3] = 2
        elif str(df_LC.iloc[i,j+1])=="Workplace":
          d3.iloc[(s-1),4] = 2
        elif str(df_LC.iloc[i,j+1])=="Highway":
          d3.iloc[(s-1),5] = 2

      elif str(df_LC.iloc[i,j])=="Leisure":
        d3.iloc[(s-1),3] = 1
        if str(df_LC.iloc[i,j+1])=="Home":
          d3.iloc[(s-1),2] = 2
        elif str(df_LC.iloc[i,j+1])=="Workplace":
          d3.iloc[(s-1),4] = 2
        elif str(df_LC.iloc[i,j+1])=="Highway":
          d3.iloc[(s-1),5] = 2
        
      elif str(df_LC.iloc[i,j])=="Workplace":
        d3.iloc[(s-1),4] = 1
        if str(df_LC.iloc[i,j+1])=="Home":
          d3.iloc[(s-1),2] = 2
        elif str(df_LC.iloc[i,j+1])=="Leisure":
          d3.iloc[(s-1),3] = 2
        elif str(df_LC.iloc[i,j+1])=="Highway":
          d3.iloc[(s-1),5] = 2

      elif str(df_LC.iloc[i,j])=="Highway":
        d3.iloc[(s-1),5] = 1
        if str(df_LC.iloc[i,j+1])=="Home":
          d3.iloc[(s-1),2] = 2
        elif str(df_LC.iloc[i,j+1])=="Leisure":
          d3.iloc[(s-1),3] = 2
        elif str(df_LC.iloc[i,j+1])=="Workplace":
          d3.iloc[(s-1),4] = 2
      j+=2
    else:
      j=j+1
s=0
for i in range (2,(df_VC.shape[0])):
  j=0
  while j <= ((df_VC.shape[1])-1):
    if pd.notna(df_VC.iloc[i,j]):
      s=s+1
      if str(df_VC.iloc[i,j])=="Conventional 2-Wheeler":
        d3.iloc[(s-1),55] = 1
      elif str(df_VC.iloc[i,j])=="Electric 2-Wheeler":
        d3.iloc[(s-1),56] = 1
    j+=1
print(d3)
d3.to_csv("file3.csv")

      S.No.  Person_ID Alt1_Home Alt2_Leisure Alt3_Workplace Alt4_Highway  \
0         1          1         2            1            NaN          NaN
1         2          1       NaN            1            NaN            2
2         3          1       NaN            2            NaN            1
3         4          1       NaN          NaN              2            1
4         5          2       NaN            1              2          NaN
...     ...        ...       ...          ...            ...          ...
5495   5496       1374         1          NaN            NaN          NaN
5496   5497       1375       NaN            1              2          NaN
5497   5498       1375       NaN            1              2          NaN
5498   5499       1375       NaN            1              2          NaN
5499   5500       1375         1          NaN            NaN            2

     Leisure_Charging_Time Workplace_Charging_Time Highway_Charging_Time  \
0              2 - 3 hours             2 - 3 hours       45 min - 1 hour
1          45 min - 1 hour             2 - 3 hours       45 min - 1 hour
2              2 - 3 hours         45 min - 1 hour       45 min - 1 hour
3          45 min - 1 hour         45 min - 1 hour           4 - 5 hours
4          45 min - 1 hour             2 - 3 hours           2 - 3 hours
...                    ...                     ...                   ...
5495       45 min - 1 hour             4 - 5 hours           2 - 3 hours
5496       45 min - 1 hour             4 - 5 hours           2 - 3 hours
5497       45 min - 1 hour         45 min - 1 hour           4 - 5 hours
5498       45 min - 1 hour             4 - 5 hours       45 min - 1 hour
5499       45 min - 1 hour         45 min - 1 hour       45 min - 1 hour

     Home_Charging_Cost  ...                         Vehicle_Ownership  \
0         Rs. 12 / unit  ...                          Petrol 2-wheeler
1         Rs. 10 / unit  ...                          Petrol 2-wheeler
2         Rs. 10 / unit  ...                          Petrol 2-wheeler
3         Rs. 12 / unit  ...                          Petrol 2-wheeler
4         Rs. 10 / unit  ...                          Petrol 2-wheeler
...                 ...  ...                                       ...
5495      Rs. 12 / unit  ...       Petrol 2-wheeler,Electric 2-wheeler
5496       Rs. 8 / unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
5497       Rs. 8 / unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
5498       Rs. 8 / unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
5499      Rs. 12 / unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler

     Vehicle_Ownership_Others Driving_Licence_2W Driving_Licence_4W  \
0                         NaN                  1                  0
1                         NaN                  1                  0
2                         NaN                  1                  0
3                         NaN                  1                  0
4                         NaN                  2                  2
...                       ...                ...                ...
5495                      NaN                  2                  2
5496                      NaN                  2                  1
5497                      NaN                  2                  1
5498                      NaN                  2                  1
5499                      NaN                  2                  1

       Daily_Distance          Long_Distance_300km Location(Postal)  \
0     Less than 10 km         Once or twice a year           560102
1     Less than 10 km         Once or twice a year           560102
2     Less than 10 km         Once or twice a year           560102
3     Less than 10 km         Once or twice a year           560102
4     Less than 10 km  Once or twice in six months         Hosaroad
...               ...                          ...              ...
5495    10 km - 20 km  Once or twice in six months          KENGERI
5496    20 km - 30 km        Once or twice a month        Goripalya
5497    20 km - 30 km        Once or twice a month        Goripalya
5498    20 km - 30 km        Once or twice a month        Goripalya
5499    20 km - 30 km        Once or twice a month        Goripalya

                      Knowledge                  Contact     Duration
0     Yes, I only know a little               9886383058          8.7
1     Yes, I only know a little               9886383058          8.7
2     Yes, I only know a little               9886383058          8.7
3     Yes, I only know a little               9886383058          8.7
4     Yes, I only know a little  swathidamudha@gmail.com  9.466666667
...                         ...                      ...          ...
5495          Yes, I know a lot                       ..  14.01666667
5496      Yes, I know something                      ...  2.766666667
5497      Yes, I know something                      ...  2.766666667
5498      Yes, I know something                      ...  2.766666667
5499      Yes, I know something                      ...  2.766666667

[5500 rows x 89 columns]

internet survey data code 2w

In [ ]:
url1="/content/surveyInternetcsv2w.csv"
url2="/content/cardlist2wlc.csv"
url3="/content/mnldata2w.csv"
url4="/content/cardlist2wvc.csv"
import pandas as pd
import numpy as np
import math
d1=pd.read_csv(url1)
d2=pd.read_csv(url2)
d3=pd.read_csv(url3)
d4=pd.read_csv(url4)
#df_VC_modification
df_VC=d1.iloc[:,7:96]
header=[i for i in range(0,df_VC.shape[1])]
header
df_VC.columns=header
df_VC.columns
#df_LC_modification
df_LC=d1.iloc[:,111:255]
header=[i for i in range(0,df_LC.shape[1])]
header
df_LC.columns=header
df_LC.columns
#df_LV_modification
df_LV=d1.iloc[:,np.r_[96:111,255:269]]
header=[i for i in range(0,df_LV.shape[1])]
header
df_LV.columns=header
df_LV.columns
#df_SD_modification
df_SD=d1.iloc[:,269:286]
header=[i for i in range(0,df_SD.shape[1])]
header
df_SD.columns=header
df_SD.columns
cards_user_chose_orderwise_LC=[]
for i in range (2,(df_LC.shape[0])):
  no_of_cards=[] 
  for j in range (0,(df_LC.shape[1])):
    if pd.notna(df_LC.iloc[i,j]):
      temp= int(df_LC.columns[j])
      temp=temp/2
      a=math.floor(temp)
      no_of_cards.append(int(a)+1)
  cards_user_chose_orderwise_LC.append(list(set(no_of_cards)))
cards_user_chose_orderwise_VC=[]
for i in range (2,(df_VC.shape[0])):
  no_of_cards=[] 
  for j in range (0,(df_VC.shape[1])):
    if pd.notna(df_VC.iloc[i,j]):
      temp= int(df_VC.columns[j])
      a=math.floor(temp)
      no_of_cards.append(int(a)+1)
  cards_user_chose_orderwise_VC.append(list(set(no_of_cards)))
k=-1
s=0
S_No=[]
Person_Id=[]
for i in cards_user_chose_orderwise_LC:
  k+=1
  for j in cards_user_chose_orderwise_LC[k]:
    s+=1
    S_No.append(s)
    Person_Id.append(k+1)
d3['S.No.']=S_No
d3['Person_ID']=Person_Id
k=-1
s=0
for i in cards_user_chose_orderwise_LC:
  k+=1
  l=0
  for j in cards_user_chose_orderwise_LC[k]:
    s+=1
    d3.iloc[s-1,71:88] = df_SD.iloc[(k+2),0:]
    d3.iloc[s-1,26:55] = df_LV.iloc[(k+2),0:]
    d3.iloc[s-1,88] = d1.iloc[(k+2),1]
    d3.iloc[s-1,6:23] = d2.iloc[((cards_user_chose_orderwise_LC[k][l])-1),2:]
    d3.iloc[s-1,57:66] = d4.iloc[((cards_user_chose_orderwise_VC[k][l])-1),2:]
    l+=1
s=0
for i in range (2,(df_LC.shape[0])):
  j=0
  while j <= ((df_LC.shape[1])-1):
    if pd.notna(df_LC.iloc[i,j]):
      s=s+1
      if str(df_LC.iloc[i,j])=="Home":
        d3.iloc[(s-1),2] = 1
        if str(df_LC.iloc[i,j+1])=="Leisure":
          d3.iloc[(s-1),3] = 2
        elif str(df_LC.iloc[i,j+1])=="Workplace":
          d3.iloc[(s-1),4] = 2
        elif str(df_LC.iloc[i,j+1])=="Highway":
          d3.iloc[(s-1),5] = 2

      elif str(df_LC.iloc[i,j])=="Leisure":
        d3.iloc[(s-1),3] = 1
        if str(df_LC.iloc[i,j+1])=="Home":
          d3.iloc[(s-1),2] = 2
        elif str(df_LC.iloc[i,j+1])=="Workplace":
          d3.iloc[(s-1),4] = 2
        elif str(df_LC.iloc[i,j+1])=="Highway":
          d3.iloc[(s-1),5] = 2
        
      elif str(df_LC.iloc[i,j])=="Workplace":
        d3.iloc[(s-1),4] = 1
        if str(df_LC.iloc[i,j+1])=="Home":
          d3.iloc[(s-1),2] = 2
        elif str(df_LC.iloc[i,j+1])=="Leisure":
          d3.iloc[(s-1),3] = 2
        elif str(df_LC.iloc[i,j+1])=="Highway":
          d3.iloc[(s-1),5] = 2

      elif str(df_LC.iloc[i,j])=="Highway":
        d3.iloc[(s-1),5] = 1
        if str(df_LC.iloc[i,j+1])=="Home":
          d3.iloc[(s-1),2] = 2
        elif str(df_LC.iloc[i,j+1])=="Leisure":
          d3.iloc[(s-1),3] = 2
        elif str(df_LC.iloc[i,j+1])=="Workplace":
          d3.iloc[(s-1),4] = 2
      j+=2
    else:
      j=j+1
s=0
for i in range (2,(df_VC.shape[0])):
  j=0
  while j <= ((df_VC.shape[1])-1):
    if pd.notna(df_VC.iloc[i,j]):
      s=s+1
      if str(df_VC.iloc[i,j])=="Conventional 2-Wheeler":
        d3.iloc[(s-1),55] = 1
      elif str(df_VC.iloc[i,j])=="Electric 2-Wheeler":
        d3.iloc[(s-1),56] = 1
    j+=1
print(d3)
d3.to_csv("file4.csv")

     S.No.  Person_ID Alt1_Home Alt2_Leisure Alt3_Workplace Alt4_Highway  \
0        1          1         1          NaN              2          NaN
1        2          1         1          NaN              2          NaN
2        3          1         1          NaN              2          NaN
3        4          1         1          NaN              2          NaN
4        5          2         1          NaN            NaN            2
..     ...        ...       ...          ...            ...          ...
279    280         70         1            2            NaN          NaN
280    281         71         1          NaN              2          NaN
281    282         71         2          NaN              1          NaN
282    283         71       NaN            1            NaN            2
283    284         71         2          NaN              1          NaN

    Leisure_Charging_Time Workplace_Charging_Time Highway_Charging_Time  \
0             4 - 5 hours         45 min - 1 hour           2 - 3 hours
1             2 - 3 hours         45 min - 1 hour       45 min - 1 hour
2             2 - 3 hours             4 - 5 hours           4 - 5 hours
3             2 - 3 hours         45 min - 1 hour       45 min - 1 hour
4         45 min - 1 hour             2 - 3 hours           2 - 3 hours
..                    ...                     ...                   ...
279       45 min - 1 hour             4 - 5 hours       45 min - 1 hour
280       45 min - 1 hour         45 min - 1 hour       45 min - 1 hour
281       45 min - 1 hour             2 - 3 hours       45 min - 1 hour
282       45 min - 1 hour         45 min - 1 hour       45 min - 1 hour
283           2 - 3 hours             2 - 3 hours       45 min - 1 hour

    Home_Charging_Cost  ...                         Vehicle_Ownership  \
0         Rs. 8 / unit  ...                          Petrol 2-wheeler
1        Rs. 12 / unit  ...                          Petrol 2-wheeler
2        Rs. 10 / unit  ...                          Petrol 2-wheeler
3         Rs. 8 / unit  ...                          Petrol 2-wheeler
4         Rs. 8 / unit  ...                                      None
..                 ...  ...                                       ...
279      Rs. 12 / unit  ...                          Petrol 2-wheeler
280      Rs. 10 / unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
281      Rs. 12 / unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
282      Rs. 10 / unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler
283      Rs. 10 / unit  ...  Petrol 2-wheeler,Petrol/Diesel 4-wheeler

    Vehicle_Ownership_Others Driving_Licence_2W Driving_Licence_4W  \
0                        NaN                  3                  2
1                        NaN                  3                  2
2                        NaN                  3                  2
3                        NaN                  3                  2
4                        NaN                  2                  2
..                       ...                ...                ...
279                      NaN                  1                  0
280                      NaN                  2                  2
281                      NaN                  2                  2
282                      NaN                  2                  2
283                      NaN                  2                  2

      Daily_Distance     Long_Distance_300km Location(Postal)  \
0      20 km - 30 km  More than twice a week           577522
1      20 km - 30 km  More than twice a week           577522
2      20 km - 30 km  More than twice a week           577522
3      20 km - 30 km  More than twice a week           577522
4      10 km - 20 km   Once or twice a month           524302
..               ...                     ...              ...
279  Less than 10 km    Once or twice a year           560012
280   50 km - 100 km   Once or twice a month           395006
281   50 km - 100 km   Once or twice a month           395006
282   50 km - 100 km   Once or twice a month           395006
283   50 km - 100 km   Once or twice a month           395006

                 Knowledge                Contact     Duration
0    Yes, I know something             9900506650          8.1
1    Yes, I know something             9900506650          8.1
2    Yes, I know something             9900506650          8.1
3    Yes, I know something             9900506650          8.1
4    Yes, I know something             9108980368         5.55
..                     ...                    ...          ...
279  Yes, I know something                    NaN  15.61666667
280      Yes, I know a lot  v.amiraj777@gmail.com  23.76666667
281      Yes, I know a lot  v.amiraj777@gmail.com  23.76666667
282      Yes, I know a lot  v.amiraj777@gmail.com  23.76666667
283      Yes, I know a lot  v.amiraj777@gmail.com  23.76666667

[284 rows x 89 columns]